body {
    background: rgb(167, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
    color: seashell;
    animation: 300ms latido infinite;
}